
html{
    font-family: "Montserrat";
    font-size: 16px;
    scroll-behavior: smooth;
}

.header{
    background-color: #00aeac;
}
.header2{
    background-color: #069291;
}
.slider{
    background: linear-gradient(30deg,rgb(59, 9, 140), rgb(131, 72, 180));
    height: 300px;
}
.contacto{
    background-color: rgb(80, 79, 79);
}

/* Sabrina's way 
.content1 .row > *{
    padding-left: 0;
    padding-right: 0;
}*/